# **시간과 메모리 측정**

**시간 복잡도 계산해보기**
1.   N개의 데이터의 합을 계산하는 프로그램
*   수행 시간은 데이터의 개수 N에 비례
*   시간 복잡도: O(N) 이 문제는 5

In [ ]:

array = [3, 5, 1, 2, 4]
summary = 0

for x in array:
  summary += x

print(summary)

15


2.   2중 반복문


*   시간 복잡도: O(N제곱) 이 문제는 25
*   모든 2중 반목문의 시간 복잡도가 O(N제곱)은 아님

In [ ]:
array = [3, 5, 1, 2, 4]
for i in array:
  for j in array:
    temp = i*j
    print(temp)

**요구사항에 따라 적절한 알고리즘 설계하기**


*   문제에서 가장 먼저 확인: 수행시간 요구사항
*   시간제한이 1초인 문제 ex) 1초에 2000만번
N의 범위가 500인 경우: 시간 복잡도가 O(N세제곱)인 알고리즘을 설계하면 문제를 풀 수 있다.

**알고리즘 문제 해결 과정**
*   간결하게 소스코드 작성
1.   지문 읽기 및 컴퓨터적 사고
2.   요구사항(복잡도) 분석
3.   문제 해결을 위한 아이디어 찾기
4.   소스코드 설계 및 코딩

수행 시간 측정

In [ ]:
import time
start_time = time.time()

end_time = time.time()

print('time: ', end_time - start_time)

time:  2.7418136596679688e-05

선택정렬과 Sort정렬의 수행시간 비교

In [ ]:
from random import randint
import time

array = []
for _ in range(10000):
  array.append(randint(1, 100))

start_time = time.time()

for i in range(len(array)):
    min_index = i
    for j in range(i+1, len(array)):
      if array[min_index > array[j]]:
          min_index = j
    
    array[i], array[min_index] = array[min_index], array[i]

end_time = time.time()
print('선택 정렬 시간측정: ', end_time - start_time)

sort_start_time = time.time()

array.sort()

sort_end_time = time.time()

print('sort 시간:', sort_end_time - sort_start_time)

선택 정렬 시간측정:  11.390222311019897
sort 시간: 0.0016369819641113281

# **자료형**

**정수형**

In [ ]:
#양의 정수
a = 1000
print(a)

#음의 정수
a = -7
print(a)

a = 0
print (a)

1000
-7
0

In [ ]:
a = 777
print(a)

a = a + 1
print(a)

777
778

**실수형**

In [ ]:
a = 157.93
print(a)

a = -1837.2
print(a)

a = 5.
print(a)

a=-.7
print(a)

157.93
-1837.2
5.0
-0.7

*   컴퓨터 시스템은 실수 정보를 표현하는 정확도에 한계를 가짐 
*   2진수에서는 표현상의 정확도 한계가 있음


> round() 함수 이용

In [ ]:
a = 0.3 + 0.6
print(round(a,4))

if round(a, 4) == 0.9:
  print(True)
else:
  print(False)

0.9
True

**지수표현방식**

*   e나 E를 이용한 지수 표현 방식

> 1e9 = 10의 9제곱

*   최단 경로 알고리즘에서는 도달할 수 없는 노드에 대하여 최단 거리를 무한(INF)으로 설정

> ex) 가능한 최댓값이 10억 미만이라면 무한의 값으로 1e9 사용 가능

In [ ]:
#10억의 지수표현방식
a = 1e9 #실수형 데이터
        #정수형으로 바꾸고 싶은면 int(1e9)
print(a)

#75.25 * 10
a = 75.25e1
print(a)

a = 3954e-3
print(a)

1000000000.0
752.5
3.954

**수 자료형의 연산**
*   사칙연산
*   나누기: / 나눠진 결과를 실수형으로 반환
*   나머지: % ex)홀수 체크
*   몫: //
*   거듭 제곱 연산자: **
*   제곱근 : ** 0.5

In [ ]:
a = 7
b = 3

print(a ** b)
print(a ** 0.5)

343
2.6457513110645907

# **리스트 자료형**



*   배열 or 테이블
*   여러 개의 데이터를 연속적으로 담아 처리

리스트 초기화


*   초기화: [ ]
*   쉼표로 원소 구분
*   인덱스는 0으로 시작

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

print(a[3])

n = 10
a = [0] * n
print(a)

[1, 2, 3, 4, 5]
4
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]


인덱싱
*   특정한 원소에 접근
*   양의 정수, 음의 정수
*   음의 정수를 넣으면 원소를 거꾸로 탐색

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[-3])

a[3] = 7
print(a)

3
[1, 2, 3, 7, 5]

슬라이싱
*   연속적인 위치를 갖는 원소들을 가져와야 할 때
*   [ : ] : 시작인데스와 끝 인덱스 설정
*   끝 인덱스는 실제 인덱스보다 1을 더 크게 설정

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[1:4])

[2, 3, 4]

리스트 컴프리헨션
*   리스트 초기화 방법 중 하나
*   대괄호 안 조건문과 반복문 적용

In [ ]:
array = [i for i in range(10)] #0~9까지 매번 증가하며 반복

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
array = [i for i in range(20) if i % 2 == 1]

print(array)

#1부터 9까지의 수들의 제곱 값을 포함하는 리스트
array = [i * i for i in range(1, 10)]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]



*   2차원 리스트를 초기화할 때 효과적으로 사용
*   N X M 크기의 2차원 리스트를 한번에 초기화할 때 
> array = [[0] * m for_in range(n)]

In [ ]:
#행
n = 4

#열
m = 3

array = [[0] * m ]*n
print(array)

array[1][1] = 5 #1인덱스 행에 있는 1인덱스 열의 값을 바꿈
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

언더바
*   반복을 수행하되 반복을 위한 변수의 값을 무시할 때

In [ ]:
for _ in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

리스트 관련 메서드

In [ ]:
a = [1, 4, 3]

#원소 산입
a.append(2)
print(a)

#오름차순 정렬
a.sort()
print("오름차순 정렬: ", a)

#내림차순 정렬
a.sort(reverse = True)
print(a)

[1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
a = [1, 4, 3]

#원소 뒤집기
a.reverse()
print(a)

#특정 인데스에 데이터 추가
a.insert(2,7)
print(a)

#특정 값인 데이터 개수 세기
print(a.count(7))

#특정 값 데이터 삭제
a.remove(1)
print(a)

[3, 4, 1]
[3, 4, 7, 1]
1
[3, 4, 7]

특정 값을 가지는 원소를 모두 제거

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

# **문자열 자료형**



*   초기화: " 나 '
*   "''"
*   '""'
*  백슬래시: 큰따옴표, 작음따옴표 원하는 만큼

In [ ]:
data = 'Hello'
print(data)

data = "Don't you know \"Python\"?"
print(data)

Hello
Don't you know "Python"?

문자열 연산


*   연결: +
*   반복: *
*   인덱싱, 슬레이싱 가능
*   특정 인덱스 값 변경 불가

In [ ]:
a = "Hello"
b = 'World'
print(a + " " + b)

Hello World

In [ ]:
a = "String"
print(a * 3)

StringStringString

In [ ]:
a = "ABCDEF"
print(a[2:4])

CD

# **튜플 자료형**



*   한 번 선언된 값을 변경할 수 없음
*   소괄호 이용 (())
*   리스트에 비해 상대적으로 공간 효율적

In [ ]:
a = (1, 2, 3, 4, 5)

print(a[3])

print(a[1:4])

4
(2, 3, 4)

튜플을 사용하면 좋은 경우
*   서로 다른 성질의 데이터를 묶어서 관리
> 최단 경로 알고리즘: 비용, 노드번호
*   해싱(Hashing)의 키 값
> 변경이 불가능하기 때문에
*   리스트보다 메모리를 효율적으로 사용해야 할 때

# **사전 자료형**


*   키와 값의 쌍을 데이터를 가짐
*   변경불가능한 자료형을 키로 사용
*   해시 테이블을 이용하므로 데이터의 조회 및 수정에 있어서 O(1) 상수시간에 처리할 수 있음

In [ ]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

#사과라는 키가 저장되어 있는지 확인
if '사과' in data:
  print("'사과'를 키로 가지는 데이터가 존재합니다.")

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
'사과'를 키로 가지는 데이터가 존재합니다.



*  키와 값을 별도로 뽑아내기 위한 매서드 지원


> 키 데이터만 뽑아서: keys()


> 값 데이터만 뽑아서: values()

In [ ]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

#각 키에 따른 값을 하나씩 출력 
for key in key_list:
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

In [ ]:
b = {
      '홍길동': 97,
      '이순신': 98
}

print(b)
print(b['이순신'])

key_list = b.keys()
print(key_list)

#리스트 형태로 출력
key_list = list(b.keys())
print(key_list)

{'홍길동': 97, '이순신': 98}
98
dict_keys(['홍길동', '이순신'])
['홍길동', '이순신']

# **집합 자료형**


*   중복 불가
*   순서 없음
*   초기화: 리스트 또는 문자열 이용
> set()
*   { , , , }
*   데이터의 조회 및 수정에 O(1) 시간에 처리 가능

In [ ]:
#초기화 방법 1
data = set([1, 1, 2, 3, 4, 4, 5])
print(data)

#초기화 방법 2
data = {1, 1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}


집합연산
*   합집합: : ex) print(a:b)
*   교집합: & ex) print(a & b)
*   차집합: -

함수


*   .add(): 새로운 원소 추가
*   .update(): 원소 여러 개 추가
*   .remove() : 특정한 값을 갖는 원소 삭제

In [ ]:
data = {1, 2, 3}
print(data)

data.add(4)
print(data)

data.update([5, 6])
print(data)

data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

사전 자료형과 자료형의 특징


*   순서가 없기 때문에 인덱싱으로 값을 얻을 수 없음
*   키나 집합의 원소를 이용해 O(1) 시간으로 조회

# **기본 입출력**

자주 사용되는 표준 입력 방법

*   input(): 한 줄의 문자열을 입력받음
*   map(): 리스트의 모든 원소에 각각 특정한 함수 적용


*  공백 기준으로 구분된 데이터를 입력 받을 때
> list(map(int, input().split()))

*  공백을 기준으로 구분된 데이터의 개수가 많지 않을 때
> a, b, c = map(int, input().split())

입력을 위한 전형적인 소스코드1

In [ ]:
n = int(input())

data = list(map(int, input().split()))

print(n)

print(data)

빠르게 입력 받기

*   sys.stdin.readline()  매서드 이용
*   rstrip() 함께 사용

In [ ]:
import sys

data = sys.stdin.readline().rstip()
print(data)

자주 사용되는 표준 출력 방법

*   print()
*   , 로 구분
*  줄 바꿈을 원치 않을 때: end 속성 바꾸기

In [ ]:

print(7)
print(8)
print(7, end=" ")
print(8, end= " ")

7
8
7 8

In [ ]:
answer = 7
print("정답은" + str(answer) + "입니다.") #정수형 데이터를 문자열로 바꿔준 후 연결

정답은7입니다.

f-string 예제
*   변수명 기입하여 문자열과 정수를 함께 넣을 수 있음

In [ ]:
answer = 100
print(f"정답은 {answer} 입니다.")

정답은 100 입니다.

# **조건문**

In [ ]:
x = 11

if x >= 10:
  print("10이상")

if x >= 0:
  print("0이상")

if x>=30:
  print("30이상")

10이상
0이상

In [ ]:
score = 90

if score>=80:
  print('성적이 80점 이상입니다.')
  if score >= 90:
    print('우수한 성적입니다.')
else:
  print('성적인 70점 미만입니다.')
  print('조금 더 분발하세요.')

성적이 80점 이상입니다.
우수한 성적입니다.

In [ ]:
a = 5

if a >= 0:
  print("0이상")
elif a>=-10:
  print("-10이상")
else:
  print("-10미만")

0이상

성적 구간에 따른 학점 출력 예제

In [ ]:
score = 98

if score>=90:
  print("학점: A")
elif score>= 80:
  print("학점: B")
elif score>=70:
  print("학점: C")
else:
  print("학점: F")

학점: A

**비교 연산자**


*   X == Y : X와 Y가 서로 같을 때 
*   X!= Y : X와 Y가 서로 다를 때

**논리 연산자**


*   X and Y
*   X or Y
*   not X: 거짓일 때 참

In [ ]:
if True or False:
  print("YES")

YES

In [ ]:
if True and False:
  print("YES")

**기타 연산자**

*   리스트, 튜플, 문자열, 딕셔너리 모두에서 사용 가능
*   x in 리스트 : x가 리스트 안에 있을 때 참
*   x not in 리스트
*   pass : 형태만 만들어 놓고 아무것도 처리하고 싶지 않을 때

In [ ]:
a = 50

if a>=30:
  pass
else:
  print("30미만")

**조건문의 간소화**

실행될 소스코드가 한 줄인 경우

In [ ]:
score = 95

if score>=80: result = "Success"
else: result = 'Fail'

print(result)

Success

if ~ else문을 한 줄에 작성

In [ ]:
score = 92
result = "Success" if score>=80 else "Fail"
print(result)

Success

조건문 내에서의 부등식

*   0<x<20
*   x>0 and x<20

# **반복문**

1~9까지 모든 정수의 합 구하기 예제

In [ ]:
#while

i = 1
result = 0

while i <= 9:
  result +=i
  i+=1

print(result)

45

반복문에서의 무한 루프


*   코딩 테스트에서는 거의 없음
*   반복문을 탈출할 수 있는지 확인

In [ ]:
x = 10

while x > 5:
  print(x)

for문
*   in 뒤에 오는 데이터(리스트, 튜플 등)에 포함되어 있는 원소를 첫 번째 인덱스부터 차례대로 방문



> for 변수 in 리스트:

> 실행할 소스코드

In [ ]:
array = [9, 8, 7, 6 ,5]

for x in array:
  print(x)

9
8
7
6
5

for문에서의 range()
*   연속적인 값을 차례대로 순회
*   인자를 하나만 넣으면 자동으로 시작 값은 0

In [ ]:
result = 0

#i는 1부터 9까지 모든 값을 순회
for i in range(1, 10):
  result += i

print(result)

45

continue 키워드


*   반복문에서 남은 코드의 실행을 건너뛰고, 다음 반복 진행

In [ ]:
#1~9까지의 홀수 합을 구할 때 

result = 0

for i in range(1, 10):
  if i % 2 == 0:
      continue
  result += i

print(result)

25

break 키워드


*   반복문 즉시 탈출

In [ ]:
i = 1

while True:
  print("현재의 i 값: ", i)
  if i == 5:
    break 
  i += 1

현재의 i 값:  1
현재의 i 값:  2
현재의 i 값:  3
현재의 i 값:  4
현재의 i 값:  5

In [ ]:
#학생들의 합격 여부 판단 예제 

score = [90, 85, 77, 65, 97]

for i in range(5):
  if score[i]>=80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
score = [90, 85, 77, 65, 97]
cheating_student_list = {2, 4}

for i in range(5):
  if i + 1 in cheating_student_list:
    continue
  if score[i] >= 80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
#구구단 

for i in range(2, 10):
  for j in range(1, 10):
    print(i, "X", j, "=", i*j)
  print()

# **함수**



*   내장 함수: 파이썬 기본 제공 함수
*   사용자 정의 함수

**함수정의하기**



*   매개변수: 함수 내부에서 사용할 변수
*   반환 값: 함수에서 처리 된 결과 반환



> def 함수명(매개변수):


>     실행할 소스코드


>     return 반환 값

In [ ]:
#더하기 1

def add(a, b):
    return a + b
print(add(3, 7))

#더하기 2

def add(a, b):
    print('함수의 결과:', a+b)

add(3, 7)

10
함수의 결과: 10

In [ ]:
#빼기

def subtract(a, b):
      return a - b
print(subtract(3, 7))

-4

파라미터 지정하기
*  파라미터의 변수 직접 지정 가능
*   매개변수의 순서가 달라도 상관 없음

In [ ]:
def add(a, b):
    print(a+b)
add(b = 3, a = 7)

10

global 키워드


*   함수 바깥에 선언된 함수 바로 참조

In [ ]:
a = 0

def func():
   global a
   a += 1
  
for i in range(10):
   func()

print(a)

10

In [ ]:
a = 10

def func():
  global a #전역변수 참조
  a+=1
  print(a)

func()

11

In [ ]:
array = [1, 2, 3, 4, 5]

def func():
  array = [3, 4, 5] #지역변수 먼저 참조
  array.append(6)
  print(array)

func()
print(array)

[3, 4, 5, 6]
[1, 2, 3, 4, 5]

**여러 개의 반환 값**

In [ ]:
def operator(a, b):
  add_var = a + b
  subtract_var = a - b
  multiply_var = a * b
  divide_var = a / b
  return add_var, subtract_var, multiply_var, divide_var

a, b, c, d = operator(7, 3)
print(a, b, c , d)

10 4 21 2.3333333333333335

**람다 표현식**
*   특정 기능을 수행하는 함수를 한 줄에 작성

In [ ]:
print((lambda a, b: a + b)(3, 7))

10

In [ ]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
  return x[1] #두번째 원소를 기준으로 정렬 기준 

print(sorted(array, key=my_key))

print(sorted(array, key=lambda x: x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [ ]:
#여러 개의 리스트에 적용
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

# **표준라이브러리**

**자주 사용되는 내장 함수**

In [ ]:
#sum
result = sum([1, 2, 3, 4, 5])
print(result)

#min(), max()
min_result = min(7, 3, 5, 2)
max_result = max(7, 3, 5, 2)
print(min_result, max_result)

#eval() 수식으로 표현된 식의 계산 결과를 수 형태로 반환
result = eval("(3+5)*7")
print(result)

15
2 7
56

In [ ]:
#sorted()

result = sorted([9, 1, 8, 5, 4])
reverse_result = sorted([9, 1, 8, 5, 4], reverse=True)
print(result)
print(reverse_result)

#sorted() with key
array = [('홍길동', 35), ('이순신', 75)]
result = sorted(array, key=lambda x: x[1], reverse=True)
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]
[('이순신', 75), ('홍길동', 35)]

**순열과 조합**



*   nPr: 서로 다른 n개에서 서로 다른 r 개 선택, permutations
*   nCr: 서로 다른 n개에서 순서에 상관없이 서로 다른 r개 선택, combinations


*   중복순열: prodcut
*   중복조합: combination

In [ ]:
#순열

from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3)) #data에서 3개를 골라 순서를 고려하여 나열
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [ ]:
#조합

from itertools import combinations

data = ['A', 'B', 'C']

result = list(permutations(data, 2)) #data에서 2개를 골라 순서를 고려하여 나열
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [ ]:
#중복 순열

from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat = 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

**Counter**


*   리스트와 같은 반복 가능한 객체가 주어졌을 때 원소의 등장 횟수를 세는 기능

In [ ]:
from collections import Counter

counter = Counter(['red', 'blue', ' red', 'green', 'blue', 'blue'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
1
{'red': 1, 'blue': 3, ' red': 1, 'green': 1}

**최대 공약수와 최소 공배수**


*   math 라이브러리의 gcd() 함수

In [ ]:
import math

#최대 공약수
print(math.gcd(21, 14))

#최소 공배수
print(lcm(21, 14))

7
42